<%- include('layouts/main', { 
    content: `
      <h1>Home</h1>
      <ul>
        <% books.forEach(function(book) { %>
          <li>
            <img src="/images/<%= book.coverImage %>" alt="<%= book.title %>">
            <h2><%= book.title %></h2>
            <p>Published in <%= book.publicationYear %></p>
            <p>Category: <%= book.Category.name %></p>
            <p>Author: <%= book.Author.name %></p>
            <p>Publisher: <%= book.Publisher.name %></p>
          </li>
        <% }); %>
      </ul>
    ` 
  }) %>
  